<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>r001.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,0},{530,456}}</string>
                <key>offset</key>
                <string>{-92,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,278},{530,456}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{530,458}}</string>
                <key>offset</key>
                <string>{-92,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,276},{530,458}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,0},{528,452}}</string>
                <key>offset</key>
                <string>{-91,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,282},{528,452}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r004.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,526},{526,454}}</string>
                <key>offset</key>
                <string>{-90,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,280},{526,454}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r005.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,456},{526,456}}</string>
                <key>offset</key>
                <string>{-90,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,278},{526,456}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,528},{520,454}}</string>
                <key>offset</key>
                <string>{-87,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,280},{520,454}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,458},{520,456}}</string>
                <key>offset</key>
                <string>{-87,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,278},{520,456}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,0},{526,456}}</string>
                <key>offset</key>
                <string>{-90,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,278},{526,456}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role30017_s.png</string>
            <key>size</key>
            <string>{2032,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a680a9e705e559ca4e881721b1ae9c5f:1/1$</string>
            <key>textureFileName</key>
            <string>role30017_s.png</string>
        </dict>
    </dict>
</plist>
