<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>r001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{458,348}}</string>
                <key>offset</key>
                <string>{-75,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,365},{458,348}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r002.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,346},{462,348}}</string>
                <key>offset</key>
                <string>{-77,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,365},{462,348}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,694},{462,398}}</string>
                <key>offset</key>
                <string>{-77,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,315},{462,398}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r004.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,694},{462,402}}</string>
                <key>offset</key>
                <string>{-77,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,311},{462,402}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1092},{460,406}}</string>
                <key>offset</key>
                <string>{-76,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,307},{460,406}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r006.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1096},{454,410}}</string>
                <key>offset</key>
                <string>{-73,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,303},{454,410}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{454,346}}</string>
                <key>offset</key>
                <string>{-71,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,367},{454,346}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>r008.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{456,346}}</string>
                <key>offset</key>
                <string>{-74,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,367},{456,346}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role30017_3p.png</string>
            <key>size</key>
            <string>{924,1506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b2e14f59af2677b2f87f8e510150ae4:1/1$</string>
            <key>textureFileName</key>
            <string>role30017_3p.png</string>
        </dict>
    </dict>
</plist>
