<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,198},{170,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,414},{170,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,198},{178,196}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,414},{178,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,0},{180,198}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,413},{180,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,198},{180,196}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,415},{180,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,0},{184,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,414},{184,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,0},{182,198}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,414},{182,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,200}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,412},{182,200}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,0},{172,198}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,414},{172,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,0},{186,198}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,413},{186,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,194},{178,194}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,412},{178,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,194},{184,194}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,413},{184,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,0},{184,194}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,413},{184,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>013.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,198},{184,196}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,413},{184,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>014.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{186,198}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,412},{186,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>015.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,198},{186,196}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,414},{186,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,0},{190,194}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,414},{190,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,198},{192,194}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,414},{192,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{192,194}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,415},{192,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_11631.png</string>
            <key>size</key>
            <string>{1646,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ec2cc514e52f8fe3d371f17951b8b6d:1/1$</string>
            <key>textureFileName</key>
            <string>ui_11631.png</string>
        </dict>
    </dict>
</plist>
