<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,604},{286,168}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,423},{286,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,886},{366,168}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,418},{366,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{422,178}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,418},{422,178}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,436},{418,168}}</string>
                <key>offset</key>
                <string>{-12,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,418},{418,168}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,604},{340,282}}</string>
                <key>offset</key>
                <string>{4,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,312},{340,282}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{434,436}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,277},{434,436}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{434,440}}</string>
                <key>offset</key>
                <string>{9,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,272},{434,440}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{436,440}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,272},{436,440}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_11011.png</string>
            <key>size</key>
            <string>{956,1058}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75fc763b3d5b72a7189bc1aa0dc480b8:1/1$</string>
            <key>textureFileName</key>
            <string>ui_11011.png</string>
        </dict>
    </dict>
</plist>
