<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,986},{118,96}}</string>
                <key>offset</key>
                <string>{103,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{556,419},{118,96}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,890},{118,96}}</string>
                <key>offset</key>
                <string>{89,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{542,428},{118,96}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{118,100}}</string>
                <key>offset</key>
                <string>{79,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{532,437},{118,100}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,694},{120,96}}</string>
                <key>offset</key>
                <string>{63,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{515,445},{120,96}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{124,92}}</string>
                <key>offset</key>
                <string>{51,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{501,451},{124,92}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{124,88}}</string>
                <key>offset</key>
                <string>{37,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,452},{124,88}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{126,88}}</string>
                <key>offset</key>
                <string>{28,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,451},{126,88}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,90}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,449},{126,90}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{124,90}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,446},{124,90}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{124,84}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,447},{124,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{124,84}}</string>
                <key>offset</key>
                <string>{-11,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,446},{124,84}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,616},{122,78}}</string>
                <key>offset</key>
                <string>{-22,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,446},{122,78}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_9971.png</string>
            <key>size</key>
            <string>{126,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d012c0d4ac0aad50baa47cb836adb991:1/1$</string>
            <key>textureFileName</key>
            <string>ui_9971.png</string>
        </dict>
    </dict>
</plist>
