<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,614},{188,222}}</string>
                <key>offset</key>
                <string>{-16,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,271},{188,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1238},{346,572}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,241},{346,572}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,0},{370,620}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,218},{370,620}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1290},{392,632}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,202},{392,632}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,644},{432,642}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,191},{432,642}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,0},{438,614}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,223},{438,614}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1310},{428,612}}</string>
                <key>offset</key>
                <string>{28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,228},{428,612}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,620},{450,618}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,212},{450,618}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1286},{464,634}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,199},{464,634}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,646},{480,644}}</string>
                <key>offset</key>
                <string>{40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,193},{480,644}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{396,654}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,186},{396,654}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>012.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{364,646}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,186},{364,646}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,656}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,185},{386,656}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>014.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{412,644}}</string>
                <key>offset</key>
                <string>{39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,191},{412,644}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>015.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1290},{300,632}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,197},{300,632}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_9974.png</string>
            <key>size</key>
            <string>{1978,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06401dee814b728d9ee7c494a513fb19:1/1$</string>
            <key>textureFileName</key>
            <string>ui_9974.png</string>
        </dict>
    </dict>
</plist>
