<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-313,46}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{333,0},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-313,58}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{401,0},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-313,70}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{469,0},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-313,64}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{537,0},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-313,54}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{605,0},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-247,49}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{748,72},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-247,61}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{816,72},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-247,73}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{673,0},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-247,63}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{884,72},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-247,52}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{952,72},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-180,53}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{0,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-180,65}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{68,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-180,72}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{136,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-180,61}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{204,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-180,50}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{741,0},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,55}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{272,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,67}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{340,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,68}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{408,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,58}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{476,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,47}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{544,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,59}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{0,220},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,71}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{70,220},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,67}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{140,220},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,56}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{210,220},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,49}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{280,220},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,61}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{350,220},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,73}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{420,220},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,63}</string>
                <key>spriteSize</key>
                <string>{70,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{490,220},{70,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,52}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{952,146},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,51}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{809,0},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,63}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{877,0},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,70}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{945,0},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,60}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{0,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{105,49}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{68,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{173,56}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{612,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{173,68}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{680,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{173,70}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{748,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{173,59}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{816,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{173,48}</string>
                <key>spriteSize</key>
                <string>{68,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{884,146},{68,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{241,58}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{136,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{241,70}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{204,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{241,66}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{272,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{241,56}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{340,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{308,48}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{3,0},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{308,60}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{69,0},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{308,73}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{135,0},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{308,64}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{201,0},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{308,53}</string>
                <key>spriteSize</key>
                <string>{66,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{267,0},{66,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-358.5,118.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-358.5,118.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-358.5,118.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-358.5,118.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-217,-49}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{372,294},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-217,-37}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{446,294},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-217,-31}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{520,294},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-217,-42}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{594,294},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-217,-53}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{668,294},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-146,-54}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{408,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-146,-42}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{476,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-146,-29}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{544,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-146,-37}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{612,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-146,-48}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{680,72},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-58}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{742,294},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-46}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{816,294},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-33}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{890,294},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-32}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{0,368},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-43}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{74,368},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,-54}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{148,368},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{666,368},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-38}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{742,368},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-27}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{818,368},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{76,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{296,294},{76,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-50}</string>
                <key>spriteSize</key>
                <string>{76,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{894,368},{76,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-57}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{222,368},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-44}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{296,368},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-32}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{370,368},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-35}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{444,368},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-46}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{518,368},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,-57}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{592,368},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-48}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{560,220},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-36}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{632,220},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-30}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{704,220},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-41}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{776,220},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{148,-52}</string>
                <key>spriteSize</key>
                <string>{72,74}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{848,220},{72,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{221,-54}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{920,220},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{221,-42}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{0,294},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{221,-29}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{74,294},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00087.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{221,-37}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{148,294},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{221,-48}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{222,294},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_00089.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-358.5,118.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{720,240}</string>
                <key>textureRect</key>
                <string>{{0,0},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fontMovie.png</string>
            <key>size</key>
            <string>{1022,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:266c2788cfd1ead43f2739a2794ff4e3:89ffb61dbc6ccb3b2862903835a5e41f:c8238f03c318752ab1b335a8aeb05704$</string>
            <key>textureFileName</key>
            <string>fontMovie.png</string>
        </dict>
    </dict>
</plist>
