<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,342},{66,68}}</string>
                <key>offset</key>
                <string>{-313,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{66,68}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,344},{66,68}}</string>
                <key>offset</key>
                <string>{-313,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{66,68}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,346},{66,68}}</string>
                <key>offset</key>
                <string>{-313,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{66,68}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,274},{66,68}}</string>
                <key>offset</key>
                <string>{-313,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{66,68}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,274},{66,68}}</string>
                <key>offset</key>
                <string>{-313,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{66,68}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,134},{66,72}}</string>
                <key>offset</key>
                <string>{-247,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,35},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,136},{66,72}}</string>
                <key>offset</key>
                <string>{-247,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,23},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,274},{66,70}}</string>
                <key>offset</key>
                <string>{-247,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,12},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,208},{66,72}}</string>
                <key>offset</key>
                <string>{-247,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,21},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,68},{66,72}}</string>
                <key>offset</key>
                <string>{-247,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,32},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,68},{66,72}}</string>
                <key>offset</key>
                <string>{-180,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,31},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>012.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,68},{66,72}}</string>
                <key>offset</key>
                <string>{-180,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,19},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>013.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,68},{66,72}}</string>
                <key>offset</key>
                <string>{-180,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,12},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>014.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,70},{66,72}}</string>
                <key>offset</key>
                <string>{-180,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,23},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>015.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,276},{66,70}}</string>
                <key>offset</key>
                <string>{-180,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,35},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>016.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,68},{66,72}}</string>
                <key>offset</key>
                <string>{-112,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,29},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>017.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,68},{66,72}}</string>
                <key>offset</key>
                <string>{-112,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,17},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>018.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,212},{66,72}}</string>
                <key>offset</key>
                <string>{-112,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,16},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>019.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,358},{66,72}}</string>
                <key>offset</key>
                <string>{-112,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,26},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>020.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,216},{66,72}}</string>
                <key>offset</key>
                <string>{-112,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,37},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>021.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,136},{68,72}}</string>
                <key>offset</key>
                <string>{-45,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,25},{68,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>022.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,216},{68,72}}</string>
                <key>offset</key>
                <string>{-45,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,13},{68,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>023.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,0},{68,72}}</string>
                <key>offset</key>
                <string>{-45,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,17},{68,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>024.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{68,72}}</string>
                <key>offset</key>
                <string>{-45,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,28},{68,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>025.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,0},{68,72}}</string>
                <key>offset</key>
                <string>{38,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,35},{68,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>026.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,0},{68,72}}</string>
                <key>offset</key>
                <string>{38,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,23},{68,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>027.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{68,72}}</string>
                <key>offset</key>
                <string>{38,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,11},{68,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>028.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,0},{68,72}}</string>
                <key>offset</key>
                <string>{38,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,21},{68,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>029.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,288},{68,70}}</string>
                <key>offset</key>
                <string>{38,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,33},{68,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>030.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,348},{66,70}}</string>
                <key>offset</key>
                <string>{105,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,34},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>031.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,278},{66,70}}</string>
                <key>offset</key>
                <string>{105,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,22},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>032.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,354},{66,70}}</string>
                <key>offset</key>
                <string>{105,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,15},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>033.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,204},{66,70}}</string>
                <key>offset</key>
                <string>{105,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,25},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>034.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,204},{66,70}}</string>
                <key>offset</key>
                <string>{105,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,36},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>035.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,358},{66,72}}</string>
                <key>offset</key>
                <string>{173,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{500,28},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>036.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,358},{66,72}}</string>
                <key>offset</key>
                <string>{173,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{500,16},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>037.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,358},{66,72}}</string>
                <key>offset</key>
                <string>{173,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{500,14},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>038.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,358},{66,72}}</string>
                <key>offset</key>
                <string>{173,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{500,25},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>039.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,358},{66,72}}</string>
                <key>offset</key>
                <string>{173,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{500,36},{66,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>040.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,204},{66,70}}</string>
                <key>offset</key>
                <string>{241,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,27},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>041.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,206},{66,70}}</string>
                <key>offset</key>
                <string>{241,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,15},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>042.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,208},{66,70}}</string>
                <key>offset</key>
                <string>{241,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,19},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>043.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,134},{66,70}}</string>
                <key>offset</key>
                <string>{241,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{568,29},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>044.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,350},{64,70}}</string>
                <key>offset</key>
                <string>{308,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{636,37},{64,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>045.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,280},{64,70}}</string>
                <key>offset</key>
                <string>{308,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{636,25},{64,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>046.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,284},{64,70}}</string>
                <key>offset</key>
                <string>{308,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{636,12},{64,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>047.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,360},{64,70}}</string>
                <key>offset</key>
                <string>{308,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{636,21},{64,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>048.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{64,70}}</string>
                <key>offset</key>
                <string>{308,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{636,32},{64,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>049.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,360},{1,1}}</string>
                <key>offset</key>
                <string>{-359.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>050.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,360},{1,1}}</string>
                <key>offset</key>
                <string>{-359.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>051.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,360},{1,1}}</string>
                <key>offset</key>
                <string>{-359.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>052.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,360},{1,1}}</string>
                <key>offset</key>
                <string>{-359.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>053.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,144},{72,72}}</string>
                <key>offset</key>
                <string>{-217,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,133},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>054.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,286},{72,72}}</string>
                <key>offset</key>
                <string>{-217,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,121},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>055.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{72,72}}</string>
                <key>offset</key>
                <string>{-217,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,115},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>056.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,72},{72,72}}</string>
                <key>offset</key>
                <string>{-217,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,126},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>057.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,144},{72,72}}</string>
                <key>offset</key>
                <string>{-217,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,137},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>058.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,134},{66,70}}</string>
                <key>offset</key>
                <string>{-146,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,139},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>059.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,134},{66,70}}</string>
                <key>offset</key>
                <string>{-146,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,127},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>060.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,134},{66,70}}</string>
                <key>offset</key>
                <string>{-146,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,114},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>061.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,288},{66,70}}</string>
                <key>offset</key>
                <string>{-146,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,122},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>062.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,288},{66,70}}</string>
                <key>offset</key>
                <string>{-146,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,133},{66,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>063.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,288},{72,72}}</string>
                <key>offset</key>
                <string>{-74,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,142},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>064.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{72,72}}</string>
                <key>offset</key>
                <string>{-74,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,130},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>065.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,72},{72,72}}</string>
                <key>offset</key>
                <string>{-74,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,117},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>066.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,144},{72,72}}</string>
                <key>offset</key>
                <string>{-74,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,116},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>067.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,216},{72,72}}</string>
                <key>offset</key>
                <string>{-74,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,127},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>068.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{72,72}}</string>
                <key>offset</key>
                <string>{-74,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,138},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>069.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{74,72}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,135},{74,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>070.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,0},{74,72}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,122},{74,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>071.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{74,72}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,111},{74,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>072.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,216},{74,70}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,124},{74,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>073.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,72}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,134},{74,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>074.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,0},{72,72}}</string>
                <key>offset</key>
                <string>{75,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,141},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>075.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,72},{72,72}}</string>
                <key>offset</key>
                <string>{75,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,128},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>076.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,144},{72,72}}</string>
                <key>offset</key>
                <string>{75,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,116},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>077.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{72,72}}</string>
                <key>offset</key>
                <string>{75,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,119},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>078.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{72,72}}</string>
                <key>offset</key>
                <string>{75,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,130},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>079.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,72},{72,72}}</string>
                <key>offset</key>
                <string>{75,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,141},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>080.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,144},{70,72}}</string>
                <key>offset</key>
                <string>{148,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,132},{70,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>081.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,286},{70,72}}</string>
                <key>offset</key>
                <string>{148,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,120},{70,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>082.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,286},{70,72}}</string>
                <key>offset</key>
                <string>{148,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,114},{70,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>083.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{70,72}}</string>
                <key>offset</key>
                <string>{148,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,125},{70,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>084.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,72},{70,72}}</string>
                <key>offset</key>
                <string>{148,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,136},{70,72}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>085.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,142},{72,70}}</string>
                <key>offset</key>
                <string>{221,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{545,139},{72,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>086.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{72,70}}</string>
                <key>offset</key>
                <string>{221,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{545,127},{72,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>087.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,72},{72,70}}</string>
                <key>offset</key>
                <string>{221,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{545,114},{72,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>088.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,216},{72,70}}</string>
                <key>offset</key>
                <string>{221,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{545,122},{72,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>089.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,216},{72,70}}</string>
                <key>offset</key>
                <string>{221,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{545,133},{72,70}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
            <key>090.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,360},{1,1}}</string>
                <key>offset</key>
                <string>{-359.5,119.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{720,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fontMovie.png</string>
            <key>size</key>
            <string>{1014,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c96b114afa330cc1f58e549435b559bc:1/1$</string>
            <key>textureFileName</key>
            <string>fontMovie.png</string>
        </dict>
    </dict>
</plist>
