<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,112}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,480},{90,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,112}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,480},{90,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,112}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,480},{90,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{82,112}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,480},{82,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{80,112}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,480},{80,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{86,112}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,480},{86,112}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{90,110}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,482},{90,110}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{94,108}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,483},{94,108}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet15020_3s.png</string>
            <key>size</key>
            <string>{720,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08e1bdd092e373f76b23111d6a56cf87:1/1$</string>
            <key>textureFileName</key>
            <string>pet15020_3s.png</string>
        </dict>
    </dict>
</plist>
