<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,0},{182,238}}</string>
                <key>offset</key>
                <string>{-21,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,349},{182,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,0},{178,242}}</string>
                <key>offset</key>
                <string>{-18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,348},{178,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,0},{176,246}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,349},{176,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,0},{174,250}}</string>
                <key>offset</key>
                <string>{-15,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,348},{174,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,0},{176,250}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,347},{176,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{176,248}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,348},{176,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{182,248}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,348},{182,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{188,250}}</string>
                <key>offset</key>
                <string>{-21,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,347},{188,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet1215_3s.png</string>
            <key>size</key>
            <string>{1432,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b77265008c00b0cd6386fa2dac3f5ca7:1/1$</string>
            <key>textureFileName</key>
            <string>pet1215_3s.png</string>
        </dict>
    </dict>
</plist>
