<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1160},{236,194}}</string>
                <key>offset</key>
                <string>{9,-220}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,635},{236,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1264},{232,348}}</string>
                <key>offset</key>
                <string>{12,-146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,484},{232,348}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,0},{236,440}}</string>
                <key>offset</key>
                <string>{13,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,392},{236,440}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,690},{238,478}}</string>
                <key>offset</key>
                <string>{11,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,353},{238,478}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,604},{292,556}}</string>
                <key>offset</key>
                <string>{39,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,276},{292,556}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{458,652}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,180},{458,652}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,0},{336,604}}</string>
                <key>offset</key>
                <string>{38,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,228},{336,604}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,0},{354,618}}</string>
                <key>offset</key>
                <string>{32,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,213},{354,618}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,632},{384,632}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,200},{384,632}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{460,652}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,180},{460,652}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,652},{414,634}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,198},{414,634}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>012.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1286},{422,632}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,199},{422,632}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>013.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,0},{428,632}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,199},{428,632}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1304},{458,646}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,180},{458,646}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,928},{434,472}}</string>
                <key>offset</key>
                <string>{2,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,202},{434,472}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>016.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1496},{436,456}}</string>
                <key>offset</key>
                <string>{2,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,211},{436,456}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,236},{438,454}}</string>
                <key>offset</key>
                <string>{1,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,211},{438,454}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,1362},{416,450}}</string>
                <key>offset</key>
                <string>{-10,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,216},{416,450}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_9343.png</string>
            <key>size</key>
            <string>{2026,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd45431d9a0eaff9d4734c419afa0765:1/1$</string>
            <key>textureFileName</key>
            <string>ui_9343.png</string>
        </dict>
    </dict>
</plist>
