<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,382},{378,414}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,342},{378,414}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,382},{378,412}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,344},{378,412}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{378,412}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,344},{378,412}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{378,410}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,346},{378,410}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{378,410}}</string>
                <key>offset</key>
                <string>{-4,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,346},{378,410}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{378,412}}</string>
                <key>offset</key>
                <string>{-4,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,344},{378,412}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,382},{378,414}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,342},{378,414}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,414}}</string>
                <key>offset</key>
                <string>{-4,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,342},{378,414}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pet15022_s.png</string>
            <key>size</key>
            <string>{1660,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8130899fb1cbfe147177613665151c99:1/1$</string>
            <key>textureFileName</key>
            <string>pet15022_s.png</string>
        </dict>
    </dict>
</plist>
