<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,496},{36,248}}</string>
                <key>offset</key>
                <string>{-6,245}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,43},{36,248}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,496},{36,248}}</string>
                <key>offset</key>
                <string>{-6,195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,93},{36,248}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,496},{36,248}}</string>
                <key>offset</key>
                <string>{-6,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,143},{36,248}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,248},{36,248}}</string>
                <key>offset</key>
                <string>{-6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,193},{36,248}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,248},{36,248}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,243},{36,248}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{36,248}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,293},{36,248}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,0},{36,248}}</string>
                <key>offset</key>
                <string>{-6,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,343},{36,248}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,0},{36,248}}</string>
                <key>offset</key>
                <string>{-6,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,393},{36,248}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{36,248}}</string>
                <key>offset</key>
                <string>{-6,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,443},{36,248}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,744},{34,230}}</string>
                <key>offset</key>
                <string>{-7,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,511},{34,230}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
            <key>011.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,744},{26,230}}</string>
                <key>offset</key>
                <string>{-3,-264}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,561},{26,230}}</string>
                <key>sourceSize</key>
                <string>{280,824}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_9823.png</string>
            <key>size</key>
            <string>{108,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4fab7293538b0506147291fa8e5c81c:1/1$</string>
            <key>textureFileName</key>
            <string>ui_9823.png</string>
        </dict>
    </dict>
</plist>
